<div class="col-md-5">
  <%= search_form_for @q do |f| %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.search_field :title_or_body_cont, class: "form-control", placeholder: "タイトルまたは本文" %>
        </div>
      </div>
      <div class="col-md-6">
        <%= f.submit "検索", class: "btn btn-default" %>
        <%= link_to "リセット", request.path, class: "btn btn-default" %>
      </div>
    </div>
  <% end %>
  <hr>
  <% @notes.each do |note| %>
    <div class="right-contents">
      <%= link_to(edit_note_path(note)) do %>
        <%= fa_icon 'pencil 2x', class: "note-edit" %>
      <% end %>
      <%= link_to(note_path(note),method: :delete) do %>
        <%= fa_icon 'trash 2x', class: "note-delete" %>
      <% end %>
    </div>



    <h4><%=note.title %></h4>
    <%= simple_format(truncate(note.body)) %>
    <hr>
  <% end %>
  <%= paginate @notes %>
</div>
<div class="col-md-7">
  <div class="clearfix">
  <%= link_to "New Note", notes_path, class: "btn btn-primary btn-new" %>
  </div>
  <%= render partial: 'form', locals: { note: @note } %>
</div>
